<div style="float: left;"><a href="http://www.hcmr.gr"><img alt="HCMR logo" src="{{ site.baseurl }}/images/hcmr.png" style="border: 0; height:2em; padding-right:0.5em;" /></a></div>
<div style="float: left;"><a href="http://www.imbbc.hcmr.gr"><img alt="IMBBC logo" src="{{ site.baseurl }}/images/imbbc.png" style="border: 0; height:2em; padding-right:0.5em;" /></a></div>
<div style="float: left;"><a href="http://www.lab42open.hcmr.gr"><img alt="lab42open logo" src="{{ site.baseurl }}/images/lab42open.png" style="border: 0; height:2em;"/></a></div>
<div style="float: right;"><a href="http://www.gsrt.gr"><img alt="GSRT logo" src="{{ site.baseurl }}/images/gsrt.png" style="border: 0; height:2em; "/></a></div>
<div style="float: right;"><a href="http://www.elidek.gr"><img alt="HFRI logo" src="{{ site.baseurl }}/images/hfri.png" style="border: 0; height:2em; padding-right:0.5em;"/></a></div>
<span style="margin-left: 10em; font-size: small;">
    Funded by the Hellenic Foundation for Research and Innovation | Contact <a href="mailto:prego@hcmr.gr"><img alt="email the PREGO team" style="height: 1em;" src="{{ site.baseurl }}/images/mail.png"></a> | <a href="https://www.hcmr.gr/en/">&copy; IMBBC, HCMR</a>
</span>